@font-face {
  font-family: "Roobert";
  src: url("/src/assets/fonts/Roobert/Roobert-SemiBold.otf");
}
@font-face {
  font-family: "GT America Mono Regular";
  src: url("/src/assets/fonts/GT-America-Mono-Regular.ttf");
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25rem;
  background-color: #151416;
  margin: 0;
}

html {
  font-family: Roobert;
  font-size: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-feature-settings: "liga" off;
  line-height: 1.15;
}

:root {
  --dark: #151416;
  --green: #7dd796;
  --red: #d4423b;
  --page-grey: #858a97;
  --page-blue: #2e9ec3;
  --page-red: #bc1010;
  --page-pink: #d69dbb;
  --page-blue-light: #20b0d7;
  --page-blue-grey: #9faac0;
  --polygon: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: currentColor;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  border-style: none;
}
